db:
  name: "db"
  connector: "Memory"

mongo:
  name: "mongo"
  connector: "MongoDB"
  host: '${MONGO_HOST}'
  port: '${MONGO_PORT}'
  database: '${MONGO_DBNAME}'
  username: '${MONGO_USER}'
  password: '${MONGO_PASS}'
  options:
    connectTimeoutMS: 300000
    socketTimeoutMS: 300000
    autoReconnect: true
    reconnectTries: 100
    reconnectInterval: 1000

transient:
  name: 'transient'
  connector: 'Transient'

# redis:
#   name: 'redis'
#   connector: 'redis'
#   host: '${REDIS_HOST}'

# email:
#   name: 'mail'
#   connector: 'mail'
#   transports: [
#     {
#       type: 'ses'
#       region: '${AWS_REGION}'
#       accessKeyId: '${AWS_ACCESS_KEY_ID}'
#       secretAccessKey: '${AWS_SECRET_ACCESS_KEY}'
#     }
#   ]

# auth:
#   name: 'auth'
#   connector: 'remote'
#   url: '${auth}'
#   auth:
#     url: '${auth}'
#     id: '${id}'
#     secret: '${secret}'
#     key: '${key}'

# rmc:
#   name: 'rmc'
#   connector: 'remote'
#   url: '${rmc}'
#   auth:
#     url: '${auth}'
#     id: '${id}'
#     secret: '${secret}'
#     key: '${key}'
