initial:
  cors:
    params:
      origin: true
      credentials: true
      maxAge: 86400

  "./middleware/body-parser":
    'application/json':
      strict: false
      limit: 20971520

    'application/x-www-form-urlencoded':
      extended: true
      limit: 20971520    

"initial:before":
    "loopback#favicon":
      params: "$!../server/fixtures/favicon.ico"

session: {}

auth:
  "./middleware/acl": {}

"auth:after":
  "./middleware/rewrite-user-literal":
    currentUserLiteral: "me"

routes: {}

error:
  "./middleware/error": {}