name: "Protocol"

base: "SharedModel"

properties:

  id:
    type: "string"
    id: true

  protocol:
    type: 'string'

  serverType:
    type: "string"

  mapping:
    type: "object"

  fields:
    type: [ "object" ]

  properties:
    type: [ 'ProtocolProperty' ]

relations:
  
  providers:
    type: "hasMany"
    model: "Provider"
    foreignKey: "protocolId"

acls: [
  {
    principalType: "Role"
    principalId: "$everyone"
    permission: "DENY"
  }
  {
    principalType: "Role"
    principalId: "auth:read"
    permission: "ALLOW"
    accessType: "READ"
  }
  {
    principalType: "Role"
    principalId: "auth:write"
    permission: "ALLOW"
    accessType: "WRITE"
  }
  {
    principalType: "Role"
    principalId: "auth:delete"
    permission: "ALLOW"
    accessType: "DELETE"
  }
]

validations: []
methods: {}