name: "Role"

base: "SharedModel"

idInjection: false

properties:
  
  name:
    type: "string"

  description:
    type: "string"

relations:

  principals:
    type: "hasMany"
    model: "RoleMapping"
    foreignKey: "roleId"
    scope:
      include: 'principal'

mixins:
  Count:
    methods: [ 'find' ]

acls: [
  {
    principalType: "Role"
    principalId: "$everyone"
    permission: "DENY"
  }
  {
    principalType: "Role"
    principalId: "auth:read"
    permission: "ALLOW"
    accessType: "READ"
  }
  {
    principalType: "Role"
    principalId: "auth:write"
    permission: "ALLOW"
    accessType: "WRITE"
  }
  {
    principalType: "Role"
    principalId: "auth:delete"
    permission: "ALLOW"
    accessType: "DELETE"
  }
]