name: "UserSubscription"

base: "SharedModel"

properties:

  types:
    type: [ 'string' ]

  subscriptionType:
    type: 'string'

  subscriptionId:
    type: 'string'

relations: {}

acls: [
  {
    principalType: "Role"
    principalId: "$everyone"
    permission: "DENY"
  }
  {
    principalType: "Role"
    principalId: "auth:lookup"
    permission: "ALLOW"
    accessType: "READ"
  }
  {
    principalType: "Role"
    principalId: "auth:write"
    permission: "ALLOW"
    accessType: "WRITE"
  }
]

mixins:
  ObjectId: true

methods: []
validations: []